.btn {
  padding: 1rem 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #5cb85c;
  font-family: $fontMontserrat;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  outline: none;
}